
@media print {
    body, html {
        background-color: #ffffff !important;
        color: #000000 !important;
    }
    
    .print-hide {
        display: none !important;
    }

    .watermarked-content {
        position: relative;
        z-index: 1;
    }

    .watermarked-content::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 100"><text x="50%" y="50%" font-size="14" fill="hsl(240, 10%, 3.9%)" fill-opacity="0.08" text-anchor="middle" dominant-baseline="middle" transform="rotate(-30, 70, 50)">A2G Smart Notes</text></svg>');
        background-repeat: repeat;
        pointer-events: none;
        z-index: -1;
    }
}
