rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Default deny all reads/writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow authenticated users to read their own user document
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      // Allow users to be created
      allow create: if request.auth != null;
      // Allow user to update their own payment request
      allow update: if request.auth.uid == userId;
    }

    // Allow admin to read/write all user documents
    match /users/{userId} {
      allow read, write: if request.auth.uid == 'sRiwSuQlxgbGRUcO7CevaJxQBEq2';
    }

    // Allow users to manage their own progress
    match /users/{userId}/progress/{docId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Allow ONLY the admin to write to the lead magnet config
    match /marketing_config/{docId} {
      allow write: if request.auth.uid == 'sRiwSuQlxgbGRUcO7CevaJxQBEq2';
      // Allow authenticated users to read the config
      allow read: if request.auth != null;
    }

    // Allow authenticated users to read notes
    match /notes/{noteId} {
      allow read: if request.auth != null;
      // Allow admin to write notes
      allow write: if request.auth.uid == 'sRiwSuQlxgbGRUcO7CevaJxQBEq2';
    }

    // Allow anyone to submit to the newsletter
    match /newsletter_subscriptions/{docId} {
      allow create: if true;
      // Only admin can read/delete subscribers
      allow read, delete: if request.auth.uid == 'sRiwSuQlxgbGRUcO7CevaJxQBEq2';
    }
  }
}
